[Unit]
Description=nolly Big Red Button daemon
Documentation=https://github.com/iop90cwl/nolly
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mollyd --foreground %h/.config/mollyd.conf
Restart=on-failure
RestartSec=5
PassEnvironment=DBUS_SESSION_BUS_ADDRESS WAYLAND_DISPLAY XDG_RUNTIME_DIR DISPLAY

[Install]
WantedBy=graphical-session.target
