# Build output
build/
*.o
*.a
*.so
mollyd
molly-test

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt

# Editor swap/backup files
*.kate-swp
*.swp
*~
*.bak
git_out.txt
branch_out.txt
branch_err.txt
branch_rc.txt
remote_err.txt
remote_rc.txt
build_err.txt
build_rc.txt
